<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <title>Homepage</title>
  <body>
    <%- include('./partials/script.ejs') %> <%- include('./partials/navbar.ejs')
    %>
  </body>
</html>
